.spinner {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: var(--primary-color) #0000;
  animation: inherit;
  animation-duration: .5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8px;
}

@keyframes l16 {
  100% {
    transform: rotate(1turn)
  }
}